/*=============== Sản phẩm nổi bật ===============*/
.popular_container {
  padding-top: 1rem;
}
.popular_card {
  position: relative;
  width: 238px;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}
.popular_card .shape_smaller {
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}
.popular_title,
.popular_subtitle,
.popular_img {
  position: relative;
}
.popular_title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}
.popular_subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}
.popular_img {
  width: 160px;
  margin-top: 0.75rem 0 1.25 1.5rem;
  transition: 0.3s;
}
.popular_data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem 1.25rem;
  margin-bottom: 2rem;
}
.popular_data-group {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
  color: var(--white-color);
}
.popular_data i {
  font-size: 1rem;
}
.popular_price {
  font-size: var(--h3-font-size);
}
.popular_button {
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}
.popular_button i {
  font-size: 1.25rem;
}
.popular_card:hover .popular_img {
  transform: translateY(-0.25rem);
}
